.svg {
    animation: filling 2.2s ease forwards;
    width: 100vw;
    height: 100vh;
    display: flex;
}

.path {
    stroke-dashoffset: 0;
    stroke: #4aa1d1;
    stroke-width: 1;

}

.path:hover {
    stroke-dasharray: 100%;
    stroke-dashoffset: 0;
    animation: line-anim 3.5s ease;
    stroke-width: 1;
    filter: url(#highlight);
}


@keyframes line-anim {
    from {
        stroke-dashoffset: 100%;
        fill: transparent;
        stroke-width: 2;
    }
    to {
        stroke-dashoffset: 0;
        fill: #b8cfe5;
        stroke: #4aa1d1;
    }
}

@keyframes filling {
    from {
        fill: transparent;
    }
    to {
        fill: #eeeeee;
    }
}

.path.highlight {
    fill: #b8cfe5;
}

.path.dimmed {
    animation: visible-map 3.5s ease forwards 0.2s;
}

@keyframes visible-map {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0;
    }
    25% {

        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

.dot {
    fill: #4aa1d1;
    fill-opacity: 1;
    fill-rule: evenodd;
    stroke: #ffffff;
    stroke-width: 0.949;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-miterlimit: 10;
    stroke-dasharray: none;
    stroke-opacity: 1
}

