.main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 100vh;
  width: 1140px;
  max-width: 80%;
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

